dati/xml/clienti.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">

<xs:element name="clienti">
    <xs:complexType>
        <xs:sequence>
            <xs:element ref="cliente" maxOccurs="unbounded" minOccurs="0"/>
        </xs:sequence>
    </xs:complexType>
</xs:element>

<xs:element name="cliente">
    <xs:complexType>
        <xs:attribute name="username" type="xs:string" use="required" />
        <xs:attribute name="crediti" type="xs:float" use="required" />
    </xs:complexType>
</xs:element>

</xs:schema>