dati/xml/faq.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">

<xs:element name="faq">
    <xs:complexType>
        <xs:sequence>
            <xs:element ref="intervento" maxOccurs="unbounded" minOccurs="0"/>
        </xs:sequence>
    </xs:complexType>
</xs:element>

<xs:element name="intervento">
    <xs:complexType>
        <xs:attribute name="id_intervento" type="xs:string" use="required" />
        <xs:attribute name="id_risposta" type="xs:string" use="required" />
    </xs:complexType>
</xs:element>

</xs:schema>